.navigation-bar {
  background-color: #353a47;
  height: 70px;
  padding: 5px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  a {
    color: #fff;
  }
  ul {
    display: flex;
    li {
      margin-left: 1rem;
    }
  }
}
